.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-form {
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form table {
    width: 100%;
}

.custom-form input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
